[submodule "thirdparty/SEAL"]
	path = thirdparty/SEAL
	url = https://github.com/microsoft/SEAL.git
[submodule "thirdparty/libOTe"]
	path = thirdparty/libOTe
	url = https://github.com/osu-crypto/libOTe
[submodule "thirdparty/xxHash"]
	path = thirdparty/xxHash
	url = https://github.com/Cyan4973/xxHash.git
